body {
  background-image: url(../images/body-bg.png);
  background-attachment: fixed;
}

.train-bg {
  background-image: url(../images/train-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 3px 3px 7px rgba(0,0,0,0.6);
}
